* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5em;
}

body {
    background-color: #d0bdf4;
}

.navContainer {
    max-width: 90%;
    margin: auto;
}



@media only screen and (max-width: 600px) {
    #navbar {
        background-color: rgb(128,75,133);
        overflow: auto;
        margin-bottom: 85px;
    }
    
    #navbar a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-emphasis: bold;
        font-size: 17px;
    }
    
    #navbar a:hover {
        color:#d0bdf4;
    }
    
    .logo {
        color: #fff;
    }
    
    #navbar img {
        float: left;
        padding-top: 0px;
        width: 300px;
        height: 100px;
    }
    
    #navbar ul {
        list-style: none;
        float: right;
    }
    
    #navbar ul li {
        display: inline-block;
        padding: 12px;
    }

    .active {
        color: #b47eb0;
        font-weight: bolder;
    }
}

@media only screen and (min-width: 601px) and (max-width: 999px) {
    #navbar {
        background: rgb(128,75,133);
        overflow: auto;
        margin-bottom: 85px;
    }
    
    #navbar a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-emphasis: bold;
        font-size:17px;
    }
    
    #navbar a:hover {
        color: #d0bdf4;
    }
    
    .logo {
        color: #fff;
    }

    #navbar img {
        float: left;
        padding-top: 0px;
        width: 300px;
        height: 100px;
    }
    
    #navbar ul {
        list-style: none;
        float: right;
    }
    
    #navbar ul li {
        display: inline-block;
        padding: 20px;
    }

    .active {
        color: #b47eb0;
        font-weight: bolder;
    }
}

@media only screen and (min-width: 1000px) {
    #navbar {
        background: rgb(128,75,133);
        overflow: auto;
        margin-bottom: 85px;
    }
    
    #navbar a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-emphasis: bold;
        font-size:20px;
    }
    
    #navbar a:hover {
        color: #d0bdf4;
    }
    
    .logo {
        color: #fff;
    }

    #navbar img {
        float: left;
        padding-top: 0px;
        width:  400px;
        height: 150px;
    }
    
    #navbar ul {
        list-style: none;
        float: right;
        margin-top: 30px;
    }
    
    #navbar ul li {
        display: inline-block;
        padding: 20px;
    }

    .active {
        color: #b47eb0;
        font-weight: bolder;
    }
}